<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <a href="http://fullengenharia.com.br" target="_blank"><img src="assets/img/logo.png"
          style="float: left; width: 100%;max-width: 15%; height: auto;"></a> <span style="font-weight:bold; height: 100%; left: 0; position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;">Equipe Full</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollX="true">
  <ion-card>

    <ion-list>

      <ion-item>
        <ion-label>
          <h2>José Maria da Silva Junior</h2>
          <h3>Diretor Geral</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037988220743">
                  <ion-icon name="call"></ion-icon> (37) 98822-0743
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:fulleng?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Pedro Henrique Palestini Moreira</h2>
          <h3>Coordenador</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037988339777">
                  <ion-icon name="call"></ion-icon> (37) 98833-9777
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:.cid.dde25364aca35cb7?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Lorena Soares Silva</h2>
          <h3>Eng. Civil</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037984036667">
                  <ion-icon name="call"></ion-icon> (37) 98403-6667
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:lorenasilva2015?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Lauro Augusto Garcia de Oliveira</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037998117201">
                  <ion-icon name="call"></ion-icon> (37) 9811-7201
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:lauro.garcia.oliveira?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Lucas Antonio do Nascimento</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037998756218">
                  <ion-icon name="call"></ion-icon> (37) 99875-6218
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:.cid.d895b4fefc833050?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Matheus Felipe Azavedo</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037988225984">
                  <ion-icon name="call"></ion-icon> (37) 98822-5984
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:discepador?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Arthur de Oliveira Mendonça</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037998050093">
                  <ion-icon name="call"></ion-icon> (37) 99805-0093
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:.cid.98856d6725276o59?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Francisco Margotti dos Santos</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037988127805">
                  <ion-icon name="call"></ion-icon> (37) 98812-7805
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:francisco.margotti?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>

        <ion-label>
          <h2>Fernanda de Alcantara Souza</h2>
          <h3>Departamento Técnico</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037999223000">
                  <ion-icon name="call"></ion-icon> (37) 99922-3000
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:.cid.cca90ce68d865f63?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>

        <ion-label>
          <h2>Marilia Gabriela Dutra Barreto</h2>
          <h3>Planejamento</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037991260546">
                  <ion-icon name="call"></ion-icon> (37) 99126-0546
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:live:mari.dutrabarreto?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>

        <ion-label>
          <h2>Leonardo Lopes Costa</h2>
          <h3>Comercial</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:037991917824">
                  <ion-icon name="call"></ion-icon> (37) 99191-7824
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:+5537991917824?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Debora Lopes de Faria</h2>
          <h3>Administrativo</h3>
          <ion-grid>
            <ion-row>
              <ion-col>
                <a href="tel:031983454406">
                  <ion-icon name="call"></ion-icon> (31) 98345-4406
                </a>
              </ion-col>
              <ion-col>
                <a href="skype:+5531983454406?chat">
                  <ion-icon name="logo-skype"></ion-icon> Skype
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>


    </ion-list>
  </ion-card>

</ion-content>